body {
  margin: 0;
  box-sizing: border-box;
  height: 100vh;
}

.buttons {
  width: 230px;
  display: block;
  margin: 20px auto;
}

.btn {
  width: 100px;
  height: 30px;
  background-color: #2fd65f;
  border: #4fcf68 solid 1px;
  border-radius: 3px;
  margin: 0 5px;
  box-shadow: #c7b8b8 4px 3px 6px 0px;
  text-transform: capitalize;
}

.btn:hover {
  transform: translate(1px, 1px);
  box-shadow: none;
}

#container {
  display: grid;
  position: relative;
  width: 500px;
  height: 500px;
  margin: auto;
  border: 1px solid #000;
}
